{% load static %}

<div class="card text-center">
    <div class="card-header">
        <div class="alert alert-primary" role="alert">
<h1>Current Vacancies at African Union Commision</h1>
</div>

    </div>
    <div class="card-body">
        <h5 class="card-title">AU Careers is African Union Commision main vacancy application portal, in order to be
            able to apply for a position all potential applicants will need to create a PHP database Record where they
            will enter among others your personal information, current and previous education and employment
            details.</h5>
        <p class="card-text">From the provided information AUC recruitment team will match the data against the
            currently applied for position to see if you meet the requirements. It is advised that you completely enter
            your data as partial data may lead to disqualification. In addition you can always track the status of your
            applications by clicking on my applications in your cockpit.

            Please use the following links to access the E-recruitment System to access your PHP records, note in the
            Legacy System you cannot update your data. In addition you can access the User Manuals from the links below
            if you are having problems applying for a position or creating your profile.

        </p>


    </div>
    <hr>
    <div class="card">
        <div class="card-body" text-center>

            <div class="alert alert-danger" role="alert">
                ALL JOB ADVERTISEMENTS <strong> AT 11:59 PM OR 23:59 HRS, ADDIS ABABA TIME </strong>
                TOUTES LES VACANCES DE POSTE PUBLIEES EXPIRERONT A 11:59pm OU 23h59mns, HEURES D’ADDIS ABEBA.
            </div>
        </div>
    </div>